*{
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
}

@font-face {
    font-family: vazir;
    src: url('/fonts/Vazir.woff');
}

body{
    background-color: #fbfbfb;
    direction: rtl;
    font-family: vazir;
}

li{
    list-style: none;
}

a,a:hover{
    text-decoration: none;
}

.main-menu{
    background-color: #f7c5c5;
    height: 70px;
}

.main-menu .menu-items ul li{
    display: inline-block;
    margin-left: 12px;
    position: relative;
}
.main-menu .menu-items ul li a{
    padding: 25px 0;
    display: inline-block;
    color: #555;
}

.main-menu .menu-items ul li a:hover{
color: #000;
}

.main-menu .menu-items ul li > ul{
    position: absolute;
   width: 180px;
   background-color: #f7c5c5;
   right: 0;
   opacity: 0;
   visibility: hidden;
   transition: all .3s ease;
}

.main-menu .menu-items ul li:hover > ul{
    opacity: 1;
    visibility: visible;
    transition: all .3s ease;
    padding: 10px;
}

.main-menu .menu-items ul li ul li{
    display: block;
    width: 100%;
  
}

.main-menu .menu-items ul li ul li a{
    display: block;
    padding: 10px 12px 10px 8px;
    position: relative;
}

.main-menu .menu-items ul li ul li a::before{
    content:"\f104" ;
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;

}

.main-menu .menu-items ul li ul li ul{
    top:0 ;
    right: 100%;
}

.slider-box{
    padding: 50px 20px;
    background-image: url('/img/patern.png');
    background-position: center center;
    background-size: contain;
    margin-bottom: 50px;
}

.slider-box h1{
    margin: 20px 5px;
 
}

.slider-box p{
    line-height: 2;
    color: #515151;
}

.slider-box a{
    display: inline-block;
    padding: 8px 15px;
    background-color: transparent;
    color: #3d3838;
    padding: 7px 18px 7px 15px;
    border-radius: 20px;
    border: 2px solid #12aaea;
    transition: all .3s ease; 
}

.slider-box a:hover{
    background-color: #12aaea;
    transition: all .3s ease;
}

.slider-box a i{
    position: relative;
    top: 2px;
    font-size: 11px;
}
.services{
    margin-bottom: 100px;
    
}
.desc{
    margin-bottom: 30px;
}
.desc h4{
    color: #12aaea;
}

.desc span{
    color: #515151;
    font-size: 14px;
}

.services .desc p{
text-align: justify;  
line-height: 2;  
}
.desc a{
    background-color: #12aaea;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    transition: all .3s ease;

}

.desc a:hover{
    opacity: .8;
    transition: all .3s ease;

}

.item p{
    text-align: justify;
   
}
.item h4{
    color: #12aaea;
}
.item:hover {
    background-color: yellowgreen;
    transition: all .3s ease;

}

.item:hover i{
    color: #fff;
}

.item{
    border-radius: 20px;
    padding: 10px 15px;
    box-shadow: 0px 0px 8px 0px #757171;
    margin-bottom: 20px;
}

.item i{
    font-size: 50px;
    color: #12aaea;
    display: inline;
   
   
}
.item h4{
    display: inline-block;
    margin-right: 10px;
 
}


