* {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
}

@font-face {
  font-family: vazir;
  src: url("/fonts/Vazir.woff");
}

body {
  background-color: #fbfbfb;
  direction: rtl;
  font-family: vazir;
}

li {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.top-bar {
  font-size: 12px;
  padding: 8px 0;
}

.top-bar span {
  padding-left: 20px;
  line-height: 2;
}

.main-menu {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  height: 70px;
  margin-bottom: 20px;
}

.main-menu .menu-items ul li {
  display: inline-block;
  margin-left: 12px;
  position: relative;
}
.main-menu .menu-items ul li a {
  padding: 25px 0;
  display: inline-block;
  color: #555;
}

.main-menu .menu-items ul li a:hover {
  color: #000;
}

.main-menu .menu-items ul li > ul {
  position: absolute;
  width: 180px;
 
  background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.main-menu .menu-items ul li:hover > ul {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
  padding: 10px;
}

.main-menu .menu-items ul li ul li {
  display: block;
  width: 100%;
}

.main-menu .menu-items ul li ul li a {
  display: block;
  padding: 10px 12px 10px 8px;
  position: relative;
}

.main-menu .menu-items ul li ul li a::before {
  content: "\f104";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
}

.main-menu .menu-items ul li ul li ul {
  top: 0;
  right: 100%;
}

.slider-box {
  padding: 50px 20px;
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  color: #fff;
  margin-bottom: 50px;
  height: 300px;
}

.slider-box h1 {
  margin: 20px 5px;
}

.slider-box p {
  line-height: 2;
  color:#fff;
}

.slider-box a {
  display: inline-block;
  padding: 8px 15px;
  background-color: transparent;
  color: #3d3838;
  padding: 7px 18px 7px 15px;
  border-radius: 20px;
  border: 2px solid #12aaea;
  transition: all 0.3s ease;
}

.slider-box a:hover {
  background-color: #12aaea;
  transition: all 0.3s ease;
}

.slider-box a i {
  position: relative;
  top: 2px;
  font-size: 11px;
}
.services {
  margin-bottom: 100px;
}
.desc {
  margin-bottom: 30px;
}
.desc h4 {
  color: #12aaea;
}

.desc span {
  color: #515151;
  font-size: 14px;
}

.services .desc p {
  text-align: justify;
  line-height: 2;
}
.site-btn {
  background-color: #12aaea;
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
  transition: all 0.3s ease;
}

.site-btn:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.desc a {
  background-color: #12aaea;
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
  transition: all 0.3s ease;
}

.desc a:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}

.item p {
  text-align: justify;
}
.item h4 {
  color: #12aaea;
}
.item:hover {
  background-color: yellowgreen;
  transition: all 0.3s ease;
}

.item:hover i {
  color: #fff;
}

.item {
  border-radius: 20px;
  padding: 10px 15px;
  box-shadow: 0px 0px 8px 0px #757171;
  margin-bottom: 20px;
}

.item i {
  font-size: 50px;
  color: #12aaea;
  display: inline;
}
.item h4 {
  display: inline-block;
  margin-right: 10px;
}

.index-blog {
  margin-bottom: 100px;
}
.index-blog .row {
  margin-bottom: 60px;
}

.index-blog .description {
  line-height: 2;
}

.index-blog .description .meta {
  padding: 15px;
  border-top: 2px solid #eee;
  font-size: 12px;
}

.index-blog .description .meta span {
  margin-left: 15px;
}

.index-blog .description p {
  color: #515151;
  line-height: 3;
  margin: 20px;
  text-align: justify;
  font-size: 15px;
}

.index-blog .pic img {
  border-radius: 20px;
}

.site_content {
  margin-bottom: 100px;
}

.site_content .box {
  display: inline-block;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 0;
}

.site_content .box span.title {
  display: block;
  margin: 15px;
  color: #222;
  padding: 10px 0;
  border-bottom: 2px solid gray;
  margin-bottom: 35px;
}

.site_content .box .pic img {
  display: table;
  margin: 0 auto;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.site_content .box .desc2 h5 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.site_content .box .desc2 p {
  margin: 15px;
  font-size: 13px;
  text-align: justify;
  color: #777;
  line-height: 2;
  height: 52px;
  overflow: hidden;
}

.site_content .box .desc2 span {
  font-size: 12px;
  color: #999;
}

.site_content .box .post_item_bx {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e9dede;
  display: inline-block;
  width: 100%;
}

.site_content .box .post_item_bx:last-child {
  border-bottom: 0;
}

.footer_box{
    background-color: #212121;
    padding: 25px 0;
    background-image: url('/img/map-dots.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

}

.footer_box .footer_menu span.title {
    display: block;
    padding: 10px 0 ;
    margin-bottom: 10px;
    color: #eee;
    position: relative;

}
.footer_box .footer_menu span.title:before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 3px;
    width: 5px;
    height: 2px;
    background-color: #212121;
    z-index: 10;
}

.footer_box .footer_menu span.title:after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 2px;
    background-color: #4f4848;
}


.footer_box .footer_menu ul li{
    margin: 3px 0;
    line-height: 2;
}

.footer_box .footer_menu ul li a{
  display: block;
  padding: 3px 0;
  color: #777;
  font-size: 14px;
  position: relative;
  padding-right: 15px;
}

.footer_box .footer_menu ul li a:before{
    content: "";
    position: absolute;
    bottom: 12px;
    right: 0;
    width: 4px;
    height: 2px;
    background-color: #999;
    z-index: 10;
    transition: all .3s ease;
}
.footer_box .footer_menu ul li a:hover:before{
    content: "";
    position: absolute;
    bottom: 12px;
    right: 0;
    width: 8px;
    height: 2px;
    background-color: #999;
    z-index: 10;
    transition: all .3s ease;
}

.footer_box .desc_footer {
   line-height: 2;
   color: #958e8e;
   text-align: justify;
}

.footer_box .copy-r{
    color: #fff;
}

.page-baner{
  height: 150px;
  background-image: url('/img/pattern.png');
  background-color: #eee;
  text-align: center;
  font-size: 18px;
  color: #666;
  padding-top: 45px;
}

.page-content{
  display: inline-block;
  width: 100%;
  margin: 30px 0;
  padding: 15px 0;
  background-color: #fff;
  border-radius: 20px;
}

.page-content img{
  display: table;
  margin: 15px auto;
  border-radius: 20px;
}

.single-content .meta{
  font-size: 12px;
  color: #777;
   padding: 15px;
   text-align: center;
   }

.single-content .meta span{
  margin-left: 15px;
}
.single-content .meta span a{
  color: #333;

}

.single-content h1{
  text-align: center;
  line-height: 2;
  color: #515151;
  font-size: 22px !important;
  }

  .single-content .p-text p{
    line-height: 2;
    text-align: justify;
    font-size: 15px;
    color: #777;
    margin: 15px 0;

  }



  .single-content .post-tags{
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 20px;
    
  }
  .single-content .post-tags a{
padding: 2px 5px;
display: inline-block;
color: #fff;
background-color: #9be15d;
margin-left: 5px;
border-radius: 4px;
font-size: 15px;




  }

